<!DOCTYPE html>
<html>
	<head>
		<title><%=@title%></title>
	</head>
	
	<body>
		<h1>Feather Room</h1>
		<%=@body%>
		<br/>
		<%=@footer%>
		<br/>
		<a href="http://www.aviary.com"><img src="http://images.aviary.com/imagesv5/aviary_button.png"></a>
	</body>
</html>